*.iml
.gradle
/.gradle-home
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/app/google-services.json
/functions/node_modules
/.kotlin
/captures
.externalNativeBuild
.cxx
local.properties
/backend/node_modules
/backend/.env
