VITE_FIREBASE_API_KEY=AIzaSyBNg8PHZkoYWi23zuHITwfN2sNxClEVFeE
VITE_FIREBASE_AUTH_DOMAIN=malinkiecodb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=malinkiecodb
VITE_FIREBASE_DATABASE_URL=https://malinkiecodb-default-rtdb.firebaseio.com
VITE_RU_API_BASE_URL=https://functions.yandexcloud.net/d4e2q8bfsq6c6e0qj8qs
VITE_WEB_PUSH_PUBLIC_KEY=BFGwSO5v21t0C9G9_ho1liQlXFwhJdXSks5cIzlXUemeieeBDIhcxVNi-Bab3v5jYlqiKpcL2PsdUzjbjGakuTE
VITE_FIREBASE_STORAGE_BUCKET=malinkiecodb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=370105725452
VITE_FIREBASE_APP_ID=
